<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

Messaging-Chat

{% endblock %}

{% block body %}

<h1  style="text-align: center; padding:0px ;"> <u> Personal-Chat </u> </h1>
    <p style="text-align: center;  padding:0px ;">[ Welcome to Personal chat! Remember to guard your privacy and abide by our Company guidelines.]</p> <br>

    <div class="container msg-div" style="border: 1px solid black;">
    {% for items in msg_list %}
        

            
            {% if items.sender == curr_user_employee %}

                {% if items.important == True %}
                
                    <div class="jumbotron chat-jumbotron-right" style= "background-color:#eed202;">
                            <p> <u> {{items.sender}}  </u> </p>
                            <p> {{items.message}} </p>
                            <b> {{items.created_at}} </b>
                    </div>

                {% else %}
                        
                    <div class="jumbotron chat-jumbotron-right">
                        <p> <u> {{items.sender}}  </u> </p>
                        <p> {{items.message}} </p>
                        <b> {{items.created_at}} </b>
                    </div>
                
                {% endif %}
            
            {% else %}

                {% if items.important == True %}

                    <div class="jumbotron chat-jumbotron-left" style= "background-color:#eed202;" >
                        <p> {{items.sender}} : </p>
                        <p>{{items.message}}</p>
                        <b>{{items.created_at}}</b>
                    </div>
                
                {% else %}
                    
                    <div class="jumbotron chat-jumbotron-left">
                        <p> {{items.sender}} : </p>
                        <p>{{items.message}}</p>
                        <b>{{items.created_at}}</b>
                    </div>
                {% endif %}

            {% endif %}

    {% endfor %}
</div>

<div class="container message-input-bottom" >
    <form style="padding : 8px" method=POST>
        {% csrf_token %}
        <div class="form-group">
            
            <label for="message"> Message : </label>
            <textarea class="form-control" name="message" rows="1"></textarea>
            
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="important"> Important : </label>
                        <input type="checkbox" name="important">
                    </div>
                    <div class="col-sm-9">
                        <p style="padding-left: 0px;">[ press CTRL+F to search for content within messages ]</p>
                    </div>
                </div>

            </div>
            
            
            <input type="submit" class="btn btn-primary" value="Send">
            
        </div>
    </form>
</div>
    

{% endblock %}