<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

Messaging-Chat

{% endblock %}

{% block body %}

<h1  style="text-align: center; padding:0px ;"> <u> Personal-Chat </u> </h1>
    <p style="text-align: center;  padding:0px ;">[ Welcome to Personal chat! Remember to guard your privacy and abide by our Company guidelines.]</p> <br>
    <p style="text-align: center;  padding:0px ;">[ チャットへようこそ！ プライバシーを守り、会社のガイドラインを遵守することを忘れないでください。]</p> <br>

    <div class="container msg-div" style="border: 1px solid black; ">
    {% for items in msg_list %}
        

            
            {% if items.sender == curr_user_employee %}

                {% if items.important == True %}
                
                    <div class="jumbotron chat-jumbotron-right" style= "background-color:#eed202;">
                            <p> <u> {{items.sender}}  </u> </p>
                            <p> {{items.message}} </p>
                            <b> {{items.created_at}} </b>
                    </div>

                {% else %}
                        
                    <div class="jumbotron chat-jumbotron-right">
                        <p> <u> {{items.sender}}  </u> </p>
                        <p> {{items.message}} </p>
                        <b> {{items.created_at}} </b>
                    </div>
                
                {% endif %}
            
            {% else %}

                {% if items.important == True %}

                    <div class="jumbotron chat-jumbotron-left" style= "background-color:#eed202;" >
                        <p> {{items.sender}} : </p>
                        <p>{{items.message}}</p>
                        <b>{{items.created_at}}</b>
                    </div>
                
                {% else %}
                    
                    <div class="jumbotron chat-jumbotron-left">
                        <p> {{items.sender}} : </p>
                        <p>{{items.message}}</p>
                        <b>{{items.created_at}}</b>
                    </div>
                {% endif %}

            {% endif %}

    {% endfor %}
</div>

<div class="container message-input-bottom" >
    <form name = "message_form" style="padding : 8px" method=POST>
        {% csrf_token %}
        <div class="form-group">
            
            <label for="message"> Message : </label>
            <textarea class="form-control" name="message" rows="1" id="message_text" onkeyup='saveValue(this);' autofocus> </textarea>
            
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                        <label for="important"> Important : </label>
                        <input type="checkbox" name="important">
                    </div>
                    <div class="col-sm-9">
                        <p style="padding-left: 0px;">[ press CTRL+F to search for content within messages ]</p>
                    </div>
                </div>

            </div>
            
            
            <input type="button" class="btn btn-primary" id="btnsubmit" value="Send" onclick="submitForm()">
            
        </div>
    </form>
</div>

<script type="text/javascript">

        
        

        document.getElementById("message_text").value = getSavedValue("message_text");    // set the value to this input
        /* Here you can add more inputs to set value. if it's saved */

        //Save the value function - save it to localStorage as (ID, VALUE)
        function saveValue(e){
            var id = e.id;  // get the sender's id to save it . 
            var val = e.value; // get the value. 
            localStorage.setItem(id, val);// Every time user writing something, the localStorage's value will override . 
        }

        //get the saved value function - return the value of "v" from localStorage. 
        function getSavedValue  (v){
            if (!localStorage.getItem(v)) {
                return "";// You can change this to your defualt value. 
            }
            return localStorage.getItem(v);
        }


        setTimeout(function(){
            window.location.reload(1);
        }, 7000);
        

        {% comment %} document.getElementById("form-submit").value = getSavedValue("message_text");  {% endcomment %}

        {% comment %} $('#message_form').submit(function () {
            sendmessage_form();
            window.localStorage.clear();
        }); {% endcomment %}


        function submitForm() {
            // Get the first form with the name
            // Usually the form name is not repeated
            // but duplicate names are possible in HTML
            // Therefore to work around the issue, enforce the correct index
            var frm = document.getElementsByName('message_form')[0];
            frm.submit(); // Submit the form
            localStorage.clear();
            frm.reset();  // Reset all form data4
            return false; // Prevent page refresh
            localStorage.clear();
        }

</script>
{% endblock %}