<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

Messaging

{% endblock %}

{% block body %}

<h1 style="padding: 0px; text-align: center;"> <u> Messaging  </u> </h1>
    <p style = "text-align: center;">[ Welcome to chat! Remember to guard your privacy and abide by our Company guidelines.]</p>
    
    <div class="container row" >
        <div class="col-md-4">
            <h2>My Messages :</h2>
        </div>

        <div class="col-md-4">
            <form method = "POST"> {% csrf_token %}<h2><input type="text" name="employee_search" placeholder="Seach for Employee" required> 
        </div>

        <div class="col-md-1">

            <h2><input class="btn btn-default" type="submit" placeholder="Submit"></h2> </form>
        </div>

        <div class="col-md-3">

            <h2 style="font-size: medium; padding-top : 10px;"> Search "all" for Overall Employee </p> </h2>
        </div>

    </div>

        {% for message in sender_list %}
        

        <div class="jumbotron">

            <div class="col-md-12">
                <div class="row">


                    <div class="col-md-12">
                        <a href="{% url 'messaging:chat' pk=message.emp_no %} "><b>{{message}}</b></a>
                    </div>


                </div>
            </div>
            
        </div>

        {% endfor %}
    </div>

{% endblock %}