<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}

Reseervation

{% endblock %}

{% block body %}
        <br><br>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <br>

        {% if error %}
                <p style="color: red;"> {{ error }} </p>
        {% endif %}



        <h3>Please Reserve from the form below,</h3>
            <div class="jumbotron">
                <!-- user the enctype attribute because we are uploading images  -->
                <form enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <div class="container sign-form">
                        
                        <label for="room"> Room : </label>
                        <input type="text" class="form-control" value = "{{room.room_name}}" disabled> <br> <br>

                        <b><p>Please Select the date of reservation :</p></b>
                        <input type="radio" id="today" name="day" value="today" required>
                        <label for="today"> TODAY</label><br>
                        <input type="radio" id="tomorrow" name="day" value="tomorrow">
                        <label for="tomorrow"> TOMORROW</label><br><br>
                        
                        <b><p> START TIME </p></b><br>
                        <label for="start_hours"> Start Hours : </label>
                        <input type="text" class="form-control" name="start_hours" placeholder="EX: '13' for 1 PM" required><br> <br>
                        <label for="start_minutes"> Start Minutes : </label>
                        <input type="text" class="form-control" name="start_minutes" placeholder="EX: '30' for 30 Min" required><br> <br>

                        <b><p> END TIME </p></b>
                        <label for="end_hours"> End Hours : </label>
                        <input type="text" class="form-control" name="end_hours" placeholder="EX: '13' for 1 PM" required><br> <br>
                        <label for="end_minutes"> End Minutes : </label>
                        <input type="text" class="form-control" name="end_minutes" placeholder="EX: '30' for 30 Min" required><br> <br>


                        <!-- {{ user_profileform.as_p }} -->
                        <input type="submit" class = “btn btn-default” name="submit" value="submit">
                    </div>
                </form>
            </div>
        </div>

{% endblock %}