<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
{% load bootstrap_tags %}

{% block title %}

Reservation

{% endblock %}

{% block body %}
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <H1 style="margin-left : 50%;">
                        Reservation Page
                    </H1>
                </div>
                <div class="col-md-2">
                    <h1><a href=" {% url 'reservation:schedule' pk=request.user.email %} "> <button  class = "btn btn-lg btn-info "> Check my reservations(予約の確認) </button></a></h1>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="col-md-12">
                <div class="row">
                    
                    {% for room in rooms %}
                    <div class="col-md-6" style = "margin-top : 20px;" >
                        <div class="jumbotron booking-room" style="padding-top: 5px;">
                            <h2 style="text-align: center;"><b>{{room.room_name}} </b> </h2>
                            <br>                            
                            {% with 'rooms/'|add:room.room_name|add:'.jpg' as image_static %}
                                <img class="room-picture" src="{% static image_static %}">
                            {% endwith %}
                            
                            <br><br><br>

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" style="text-align: center;">
                                        <a href=" {% url 'reservation:room_details' pk=room.room_no %} "> <button class = "btn btn-info">View Details(詳細を見る</button></a>
                                    </div>

                                    <div class="col-md-6" style="text-align: center;">
                                        <a href="{% url 'reservation:room_reserve' pk=room.room_no %}"> <button class = "btn btn-info">Reserve this Room(予約)</button></a>
                                    </div>


                                </div>
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                    
                </div>
            </div>
        </div>
        

{% endblock %}