<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}

Reservation

{% endblock %}

{% block body %}
        <H1 style="text-align: center; ">
            Reservation - {{room.room_name}}
        </H1>
        <p style="text-align: center;">
            [ Please note that reservation can be done only for the current and the next day ]
        </p>

        <br><br>

        <div class="container">
            {% comment %} <img class="room-picture-detail-reserve" src="{% static '/rooms/{{room.room_name}}.jpg' %}" alt="No preview"> {% endcomment %}
            {% with 'rooms/'|add:room.room_name|add:'.jpg' as image_static %}
                <img class="room-picture" src="{% static image_static %}" alt="No preview">
            {% endwith %}
        </div>
        <br>
        <div class="container" style="text-align: center;">
            <b>{{ room.room_name }}</b>
        </div>
        <br>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6" >
                    <div class="jumbotron" style="padding-top: 5px;">
                        <h3 style="text-align: center;"> <u> Reserved Timings </u> </h3>
                        <br>
                        <ul>
                            {% if booked %}

                                {% for items in booked %}
                                    <li>{{items}}</li>
                                {% endfor %}
                            
                            {% else %}

                                <b>No bookings yet!</b>
                            
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="jumbotron" style="padding-top: 5px;">
                        <h3 style="text-align: center;"> <u> Reserve Here </u> </h3> <br>
                        {% comment %} <a href="{% url 'reservation:bookingcreate' class=room.room_no %}"> <button class = "btn btn-default reserve_button"> Reserve </button> </a> {% endcomment %}
                        <a href="{% url 'reservation:bookingcreate' pk=room.room_no %}"> <button class = "btn btn-default reserve_button"> Reserve </button> </a>
                    </div>
                </div>

            </div>
        </div>
        

        
        
        

{% endblock %}