<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block title %}

Schedule
{% endblock %}

{% block body %}

            <h1>Schedule - {{curr_empl}}</h1>

            {% if not bookings %}
            <br><br>
            <div class="container">
                <h2>No Schedules </h2>
            </div>
                
            {% else %}
                {%  for items in bookings   %}
                    <div class="jumbotron schedule" >
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-3">
                                    <h3><b>Employee : </b></h3>
                                </div>
                                <div class="col-md-9">
                                    <h3>{{items.employee}}</h3> 
                                </div>
                            
                                <div class="col-md-3">
                                    <h3><b>Room :  </b></h3>
                                </div>
                                <div class="col-md-9">
                                    <h3>{{items.room.room_name}}</h3> 
                                </div>

                                <div class="col-md-3">
                                    <h3><b>Reservation Time :  </b></h3>
                                </div>
                                <div class="col-md-9">
                                    <h3>{{items.start_time}}</h3> 
                                </div>

                                <div class="col-md-3">
                                    <h3><b>Created On :  </b></h3>
                                </div>
                                <div class="col-md-9">
                                    <h3>{{items.created_on}}</h3> 
                                </div>

                                <div class="col-md-3">
                                    <h3><b>Status :  </b></h3>
                                </div>
                                <div class="col-md-9">
                                    {% if items.status == False  %}
                                    <h3>OVER</h3> 
                                    {% else %}
                                    <h3>Not OVER</h3>
                                    {% endif %}
                                </div>


                            </div>
                        </div>
                    
                    </div>
                {% endfor %}
            {% endif %}
















                
                <!-- <div class="jumbotron">

                    <div class="col-md-12">

                        <div class="row">
                            
                            <div class="col-md-3">
                                <h3><b>Employee : </b></h3>
                            </div>

                            <div class="col-md-9">
                                <h3>{{items.employee}}</h3> <br>
                            </div>
                        </div> 
                    


                        <div class="row">
                            
                            <div class="col-md-3">
                                <h3><b>Room : </b></h3>
                            </div>

                            <div class="col-md-9">
                                <h3>{{items.room.room_name}}</h3> <br>
                            </div>
                        </div> 


                        <div class="row">
                            
                            <div class="col-md-3">
                                <h3><b>Reservation Time : </b></h3>
                            </div>

                            <div class="col-md-9">
                                <h3>{{items.start_time}}</h3> <br>
                            </div>
                        </div> 

                        <div class="row">
                            
                            <div class="col-md-3">
                                <h3><b>Created On : </b></h3>
                            </div>

                            <div class="col-md-9">
                                <h3>{{items.created_on}}</h3> <br>
                            </div>
                        </div> 
                </div>

            <br><br><br> -->
            
            

{% endblock %}