
table{
    border: 2px solid black;
    width: 100%;
}

td{
    padding: 15px;
}

.notification{
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.error{
    color: red;
}

.attendance-check{
    border: 2px solid black;
    text-align : center;
    padding-top: 10px;
    padding-bottom: 42px;
    height: 50px;
    margin-bottom:60px;
}

.attendance-history{
    border: 3px solid black;
    height : 350px;
    padding : 10px;
}

.attendance-history-attended{
    color:green
}

.attendance-history-unattended{
    color: red;
}

.attendance-history-buttons{
    padding : 8px;
    margin: 4px;
    border : 1px solid black;
}

.home-video{
    border: 20px solid black;
    padding:10px;
    margin: 10px;
}

.home-video-video{
    border: 30px solid black;
    margin: 1px;
}

.profile-picture{
    margin-left: 35%;
    margin-right: 35%;
    width : 30%;
    height : 300px;
    border-radius: 50%;
}

.profilebutton{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
}


.chat-jumbotron-left {
    padding : 20px;
    margin-left: 0px;
    max-width: 100%;
}

.chat-jumbotron-right {
    padding : 20px;
    margin-left: 60%;
    max-width: 80%;
}

.msg-div{
    width: 100%; 
    height: 335px; 
    overflow: auto; 
    text-align:justify; 
    display: flex;
    flex-direction: column-reverse;
}

.message-input-bottom{
    height:30px;
    margin: 0;
    clear: both;
    width:100%;
    position: relative;
}

