table{
    border: 2px solid black;
    width: 100%;
}

td{
    padding: 15px;
}

.notification{
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.error{
    color: red;
}

.attendance-check{
    border: 2px solid black;
    text-align : center;
    padding-top: 10px;
    padding-bottom: 42px;
    height: 50px;
    margin-bottom:60px;
}

.attendance-history{
    border: 3px solid black;
    height : 350px;
    padding : 10px;
}

.attendance-history-attended{
    color:green
}

.attendance-history-unattended{
    color: red;
}

.attendance-history-buttons{
    padding : 8px;
    margin: 4px;
    border : 1px solid black;
}

.home-video{
    border: 2px solid black;
    padding:10px;
    margin: 10px;
}

.home-video-video{
    border: 3px solid black;
    margin: 1px;
}