table{
    border: 2px solid black;
    width: 100%;
}

td{
    padding: 15px;
}

.notification{
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.error{
    color: red;
}

.attendance-check{
    border: 2px solid black;
    text-align : center;
    padding-top: 10px;
    padding-bottom: 42px;
    height: 50px;
    margin-bottom:60px;
}