<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}
About
{% endblock %}
{% block body %}
    <h1>about</h1>
    <br><br>
    <div class="container">
        <div class="jumbotron">
            <h1>Sangeeth & Co.,</h1>
            <h4>
                <br><br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit iste quasi maxime placeat, voluptatum expedita. Ipsa commodi debitis provident odit quia ullam vero ab? Illum eos perspiciatis earum quasi fugit aut mollitia quidem cumque nam qui ea iste exercitationem doloribus, expedita, voluptate molestiae molestias repellendus iure excepturi aspernatur repudiandae nihil.
                <br><br><br><br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, incidunt aut! Fugiat esse sed dolorum, vitae doloremque nemo dignissimos magnam tempora commodi aliquam nisi eum exercitationem quo voluptates alias tenetur. Ex autem voluptatem odio quaerat quo nemo soluta aliquid similique dolor libero? Commodi saepe dignissimos dolorem nulla quod non vel?
                <br><br><br>
            </h4>
        </div>
    </div>
{% endblock %}