<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

Homepage

{% endblock %}

{% block body %}
{% comment %} <div>
    {% if messages %}
            {% for message in messages %}
                <h4 class = "error">{{message}}</h4>
                <br>
            {% endfor %}
    
    {% endif %}
</div> {% endcomment %}
<br>
    <div class="container">
        <div class="jumbotron home-video"> 
            <a href="http://youtube.com/tesla">
                <video class = "home-video-video" width="100%" height="275px" controls muted autoplay loop>
                    <source src="{% static 'videos/7.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </a>
        </div>
        
        <div class="jumbotron">
            <h1 style = "text-align : center;" >   Welcome to サン会社 </h1>
            
            <br><br>
            <h4>

            '''

                ようこそ！ <br>

                    これは、バックエンドでDjango Frameworkを使用し、フロントエンドとしてJavascriptを使用して構築されたモデルERP / CRMアプリケーションです... <br><br>

                    このアプリケーションの目的は、組織内のさまざまなプロセスを自動化することです。シンプルなユーザーインターフェースで意図的に構築されているので、ユーザーフレンドリーです... <br>
                    
                    さまざまなプロセスをデジタル化および自動化することにより、多くの時間が節約され、作業の効率が向上します。<br>
                    以下に、アプリケーションのさまざまなモジュールの実用的な説明を示します。<br><br><br>

                    1サインアップ/サインイン：<br><br>
                    Djangoの強力な認証システムを使用すると、サインアップとサインインは非常にシンプルで信頼性が高く、多くのセキュリティ機能を備えています。<br>

                    世界の多くのトップ企業がDjangos認証システムを使用しており、非常に安全で信頼性が高くなっています。<br>

                    世話をされる一般的なセキュリティ対策は、<br>
                    1 XSS（クロスサイトスクリプティング）保護<br>
                    2 CSRF（クロスサイトリクエストフォージェリ）保護<br>
                    3SQLインジェクション保護<br>
                    4クリックジャッキング保護<br>
                    5安全なパスワードハッシュ<br><br>

                    Django認証システムの詳細については、次のドキュメントを参照してください。<br>
                    https://docs.djangoproject.com/en/stable/topics/security  <br><br><br>

                    2管理モジュール：<br><br>
                    Djangoの管理モジュールは、アプリケーションでさまざまなアクセス権やその他のプロセスを制御および構成するためのシンプルなインターフェースを提供します <br><br>

                    3通知：<br><br>
                    このモジュールは、管理者がすべての従業員に情報を送信/ブロードキャストするために使用します<br>
                    （ユーザーアクセス権を持つすべての人が通知を表示できます）<br><br>

                    4チケット：<br><br>
                    このモジュールは、従業員が管理者に提起して発行したい場合に使用されます。<br>
                    従業員と管理者のみが自分の上げたチケットを表示できます<br>
                    管理者は、チケットのステータスを反映するために、チケットに[PENDING / APPROVED]のマークを付けることができます<br><br>

                    5出席：<br><br>
                    このモジュールは、従業員の出席をマークするために使用されます...  <br>
                    アプリケーションでは、当日の出席をユーザーがマークすることができます。当日以外の日については、ユーザーはTICKETMODULEを介して管理者に連絡して出席をマークする必要があります。<br><br>

                    6ダッシュボード：<br><br>
                    ダッシュボードモジュールは、組織のメンバー内のさまざまなディスカッションで使用されます。これは、管理者だけでなくすべての従業員が参加できるグループチャットのように機能します<br><br>

                    7メッセージ：<br><br>
                    メッセージングモジュールは、従業員間のプライベートメッセージングシステムです。<br>
                    メッセージは、従業員から従業員に、従業員から管理者に、またはその逆に送信できます。<br><br>

                    8予約：<br><br>
                    このモジュールは、組織のメンバー内で会議室、会議室、さらには周辺機器などのリソースを共有するために使用されます<br>

                    このモジュールは、共有リソースの詳細と予約の詳細を表示するインターフェースを提供します。また、ユーザーが新しい予約をすることができるインターフェースがあり、新しい予約がすでに予約された時間に干渉する場合、新しい予約を行うことはできません<br>

                    右上隅のユーザー名をクリックすると、名前、年齢、性別、部門情報、指定など、サインアッププロセス中に指定されたユーザーに関する基本情報が表示されます。<br>
                    <br><br><br>


                '''
                <br><br><br>
                
                '''
                Welcome! <br><br><br>

                    This is a model ERP/CRM application built using Django Framework in the backend and Javascript as the frontend... <br>

                    The objective of the application is to automate various process in an organisation. Intentionally built with a simple user interface , so that is is User friendly... <br>
                    
                    By digitalising and automating various processes, lot of time is saved and the efficiency of the work is increased. <br>
                    Below you will find the working explanation of various modules in the application, <br>

                    1 SIGNUP/SIGNIN : <br><br>
                    Using Django's powerful authentication system, Signing up and signing in is very simple and very reliable with many security features. <br>

                    Many Top Companies in the world use Djangos Authentication system , making it very secure and reliable. <br>

                    Common security measures taken care are, <br>
                    1 XSS (cross-site scripting) protection  <br>
                    2 CSRF (cross site request forgery) protection <br>
                    3 SQL injection protection <br>
                    4 Clickjacking protection <br>
                    5 Safe password hash <br> <br>

                    To learn more on Django authentcation system, Please refer the following documentation, <br>
                    https://docs.djangoproject.com/en/stable/topics/security/ <br> <br>

                    2 ADMIN MODULE: <br><br>
                    Django's admin module gives a simple interface to contol and configure various access rights and other processes in the application <br>

                    3 NOTIFICATION: <br><br>
                    This module is used by the management to send / broadcast and information to all the employees <br>
                    (Everybody with a user access can view the notifation) <br>

                    4 TICKETS: <br><br>
                    This module is used when a employee wants to raise and issue to the admin. <br>
                    Only the employee and the admin can view his/her raised tickets <br>
                    The admin can mark the ticket with [PENDING/APPROVED] to reflect the status of the ticket <br>

                    5 ATTENDANCE: <br><br>
                    This module is used for marking the attendance of employees... <br>
                    In the application, the attendance of the current day can be marked by the users. For any day other than the  current day, The User will have to contact admin through the TICKET MODULE to mark the attendance. <br>

                    6 DASHBOARD: <br><br>
                    The Dashboard module is used in various discussions within the members of the organisation. It acts like a group chat where every employee as well as the Admin can participate <br>

                    7 MESSAGING: <br><br>
                    The messaging module is a private messaging system between employee. <br>
                    Messages can be sent from employees to employees , employees to Admin and vice versa <br>

                    8 RESERVATION: <br><br>
                    This module is used for sharing resources like Meeting rooms, conference rooms and even peripherals within the members of an organisation <br>

                    The module gives an interface which displays the details of the shared resource and the reservation details. It also has an interface where an user can make a new reservation and if the new reservation interferes with an already reserved time , the new reservation cannot be made <br>

                    Clicking on the Username in the right top corner gives the basic information about the user given during the Signup process like name, age, sex, Department information and designation. <br><br><br>


                '''
                
                
                <br><br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae eligendi fugit blanditiis aliquam culpa eveniet atque assumenda aperiam nam ex repellendus voluptatibus saepe, non iure mollitia! Laboriosam nulla cupiditate iusto sapiente ipsum fugiat a fuga aperiam consectetur minima doloribus illo rem alias blanditiis, modi praesentium voluptatem dolores dolore officiis? Quam amet necessitatibus non nobis, numquam ratione exercitationem aspernatur modi quidem reiciendis aperiam explicabo laboriosam repudiandae possimus dolore quaerat voluptatibus, tempora sequi rerum voluptate officiis cum autem ab. Tempore, placeat repellendus! Eveniet placeat consequatur repudiandae numquam perspiciatis vitae maiores officiis fugiat explicabo, rem velit laudantium delectus dolores veniam error? Quasi, ullam?
            </h4>
        </div>
    </div>

{% endblock %}