<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}
About
{% endblock %}
{% block body %}
<div>
    <h1 style = "text-align: center;"> <u> Notifications </u> </h1>
    <p style = "text-align: center;">[ Recieve updates and Notifications from admin and Management ]</p> <br>
    <p style = "text-align: center;">[ 管理者から更新と通知を受け取る ]</p> <br>

    {% if admin == 1 %}

        
        <div class="container">
            <form style="border: 2px solid black; padding : 8px" method=POST>
                {% csrf_token %}
                <div class="form-group">
                    <label for="sender"> Sender :</label>
                    <input type="text" class="form-control" name="sender" value="Admin" disabled>
                    
                    <br>
                    
                    <label for="message"> Title : </label>
                    <textarea class="form-control" name="title" rows="1"></textarea>

                    <br>
                    
                    <label for="message"> Message : </label>
                    <textarea class="form-control" name="message" rows="5" style="resize: none;"></textarea>
            
                    <br>
                    
                    <input type="submit" class="btn btn-primary" value="Send">
                </div>
            </form>
        </div>
        <br>
        <br>
        
        <div class="container">
        
            {% for notification in notifications %}
            
            <div class="jumbotron">
                <h2>

                    <u>{{notification.notification_title}}</u>
                    
                </h2>
                <br>
                <p>
                    {{notification.notification_desc}}
                </p>
                <br>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <p>( ADMIN(管理者) )</p>
                        </div>

                        <div class="col-md-6">
                            <p> {{notification.created_at}} </p>
                        </div>
                    </div>
                </div>

            </div>

            {% endfor %}
            
        
        
        
    </div>

    {% else %}
    <div class="container">
        
            {% for notification in notifications %}
            
            <div class="jumbotron">
                <h2>

                    <u>{{notification.notification_title}}</u>
                    
                </h2>
                <br>
                <p>
                    {{notification.notification_desc}}
                </p>
                <br>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <p>( {{notification.sender}} )</p>
                        </div>

                        <div class="col-md-6">
                            <p> {{notification.created_at}} </p>
                        </div>
                    </div>
                </div>

            </div>

            {% endfor %}
            
        
        
        
    </div>
    {% endif %}
</div>
{% endblock %}