<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}
About
{% endblock %}
{% block body %}
<div>
    <h1 style = "text-align: center;"> <u> Notifications </u> </h1>
    <br>
    <div class="container">
        
            {% for notification in notifications %}
            
            <div class="jumbotron">
                <h2>

                    <u>{{notification.notification_title}}</u>
                    
                </h2>

                <p>
                    {{notification.notification_desc}}
                </p>

            </div>

            {% endfor %}
            
        
        
        
    </div>
</div>
{% endblock %}