<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block title %}
About
{% endblock %}
{% block body %}
<div>
    <h1 style = "text-align: center;"> <u> Notifications </u> </h1>
    <br>
    <div class="container">
        <div class="jumbotron">
            <h1>Notifications</h1>
        </div>
            {% for notification in notifications %}
            
            <div class="jumbotron">
                <h3>

                    {{notification.notification_title}}
                    
                </h3>

                <p>
                    {{notification.notification_title}}
                </p>

            </div>

            {% endfor %}
            
        
        
        
    </div>
</div>
{% endblock %}