<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block title %}

Dashboard

{% endblock %}

{% block body %}

<h1 style="text-align: center;"> <u>Dashboard</u></h1> <br>
<p style="text-align: center;" > [ General Discussion regarding work ] </p>

<form style="border: 2px solid black; padding : 8px" method=POST>
    {% csrf_token %}
    <div class="form-group">
        <label for="sender"> Profile :</label>
        <input type="text" class="form-control" name="sender" value={{curr_user}} disabled>
        
        <br><br>
        
        <label for="message"> Message : </label>
        <textarea class="form-control" name="message" rows="3"></textarea>
        
        <label for="important"> Important : </label>
        <input type="checkbox" name="important">
        


        <br><br>
        
        <input type="submit" class="btn btn-primary" value="Send">
    </div>
</form>



<br><br>
    {% for message in messages %}

        {% if message.important == True %}
            <div class="jumbotron"  style= "background-color:#eed202;">
                <div>
                    <p><b>{{message.sender}}</b> : {{message.message}}</p>
                    <br><br>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            {% if message.  == curr_user %}
                                <a href=" {% url 'dashboard:delete' pk=message.id %} "><button class="btn btn-warning" style="background-color: #eee; color : #eed202;">Delete</button></a>
                            {% else %}
                                <a href=" {% url 'dashboard:delete' pk=message.id %} "><button class="btn btn-warning" style="background-color: #eee; color : #eed202;" disabled>Delete</button></a>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <p>{{message.created_at}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="jumbotron" >
                <div>
                    <p><b>{{message.sender}}</b> : {{message.message}}</p>
                    <br><br>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            {% if message.  == curr_user %}
                                <a href=" {% url 'dashboard:delete' pk=message.id %} "><button class="btn btn-warning">Delete</button></a>
                            {% else %}
                                <a href=" {% url 'dashboard:delete' pk=message.id %} "><button class="btn btn-warning" disabled>Delete</button></a>
                            {% endif %}

                        </div>
                        <div class="col-md-6">
                            <p>{{message.created_at}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}